In [2]:
import mysql.connector

## User local database login info

In [6]:
host = "localhost"
user = "root"
password = "820510"

### Connect to database

In [7]:
mydb = mysql.connector.connect(
  host=host,
  user=user,
  password=password
)

mycursor = mydb.cursor()

### Create database

In [ ]:
mycursor.execute("CREATE DATABASE NYU_Bigdata_Final")
## To-do : 先檢查有沒有再建立

### Choose the database you just created

In [ ]:
mycursor.execute("USE NYU_Bigdata_Final")

# Create needed tables

### Create Table "City"

In [ ]:
query_for_create_City_Table = 'CREATE TABLE city ( \
        c_id INT NOT NULL, \
        c_name VARCHAR(100) NOT NULL, \
        PRIMARY KEY (c_id), \
        CONSTRAINT all_unique UNIQUE (c_id, c_name))'
    
mycursor.execute(query_for_create_City_Table)

### Create Table "Restaurant"

In [ ]:
query_for_create_Restaurant_Table = 'CREATE TABLE restaurants ( \
        r_id INT NOT NULL AUTO_INCREMENT, \
        c_id INT, \
        r_name VARCHAR(100) NOT NULL, \
        r_type VARCHAR(100), \
        r_price INT, \
        r_address VARCHAR(100), \
        PRIMARY KEY (r_id), \
        FOREIGN KEY (c_id) REFERENCES city(c_id), \
        CONSTRAINT r_name_unique UNIQUE (r_name))'
    
mycursor.execute(query_for_create_Restaurant_Table)

### Create Table "User"

In [ ]:
query_for_create_User_Table = 'CREATE TABLE users ( \
        u_id INT NOT NULL AUTO_INCREMENT, \
        u_email VARCHAR(100) NOT NULL, \
        u_password VARCHAR(100) NOT NULL, \
        u_name VARCHAR(100) NOT NULL, \
        u_gender VARCHAR(10) NOT NULL,\
        u_birth DATE NOT NULL, \
        c_id INT NOT NULL, \
        PRIMARY KEY (u_id), \
        FOREIGN KEY (c_id) REFERENCES city(c_id), \
        CONSTRAINT user_unique UNIQUE (u_email))'
    
mycursor.execute(query_for_create_User_Table)

### Create Table "User_Record"

In [ ]:
query_for_create_User_Record_Table = 'CREATE TABLE Users_Record ( \
        u_r_id INT NOT NULL AUTO_INCREMENT, \
        u_id INT NOT NULL, \
        r_id INT NOT NULL, \
        rating INT NOT NULL, \
        PRIMARY KEY (u_r_id), \
        FOREIGN KEY (u_id) REFERENCES users(u_id), \
        FOREIGN KEY (r_id) REFERENCES restaurants(r_id))'
    
mycursor.execute(query_for_create_User_Record_Table)

### Insert data to "City" table

In [ ]:
query_for_insert_to_City = 'INSERT INTO city (c_id, c_name) VALUES (%s, %s);'
c_name = [(348156, 'Milan'), (461789, 'Rome'), (415144, 'Paris')]

for name in c_name:
    mycursor.execute(query_for_insert_to_City, name)

mydb.commit()

print(mycursor.rowcount, "Succeedly inserted.")

1 Succeedly inserted.